<h2>{{ page.title }}</h2>
<p class="small">{{ page.date | date: '%d %B, %Y' }}</p>
<div class="posts">
	{{ content }}
</div>
<div class="social">
	<a href="https://twitter.com/share" class="twitter-share-button" data-via="zensavona" data-dnt="true">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	<!-- Override the URL and Title for the button -->
</div>
<div class="comments">
	{% include JB/comments %}
</div>