<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   {% if page.title == 'Home' %}
   <title>xiyoulaoyuanjia</title>
   {% else %}
   <title>{{ page.title }}</title>
   {% endif %}
   <meta name="author" content="xiyoulaoyuanjia" />
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <!--   <link href="http://feeds.julianyap.com/julianyap" rel="alternate" title="Julian Yap" type="application/rss+xml" /> -->
   <link href="https://plus.google.com/111539417571342089192" rel="publisher" />
   <link rel="shortcut icon" href="/favicon.ico" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="{{ site.baseurl }}css/syntax.css" type="text/css" /> 

   <!-- Homepage CSS -->
   <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/base.css">
   <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/skeleton.css">
   <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/layout.css">

</head>
<body>

<div class="container">
  <div class="sixteen columns title">
    <a href="{{ site.baseurl }}" title="xiyoulaoyuanjia: Home">xiyoulaoyuanjia</a>
  </div>
  
  <div class="eleven columns">
  {{ content }}
  </div>
  <div class="four columns offset-by-one">
  <h1>Pages</h1>
  <ul class="posts">
    <li><a href="{{ site.baseurl }}pages/about.html">About</a></li>
    <li><a href="{{ site.baseurl }}pages/archives.html">Archives</a></li>
    <li><a href="{{ site.baseurl }}pages/projects.html">Projects</a></li>
  </ul>
  <!-- AddThis Button BEGIN -->
  <h1>Follow Me</h1>
  <div class="addthis_toolbox addthis_32x32_style addthis_vertical_style">
  <a class="addthis_button_twitter_follow" addthis:userid="jyap_no"></a>
  <a class="addthis_button_google_follow" addthis:userid="111539417571342089192_no"></a>
  <a class="addthis_button_rss_follow" addthis:url="http://feeds.julianyap.com/julianyap_no"></a>
  </div>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f30f5735bbf9458"></script>
  <!-- AddThis Button END -->
  </div>

  <div class="sixteen columns footer">
    <div class="contact">
      <p>
        Copyright © xiyoulaoyuanjia {{ 'now' | date: "%Y" }}
      </p>
    </div>
    <div>
			<p>
			Follow xiyoulaoyuanjia:
	  <!--	   Follow Julian: <a href="http://twitter.com/jyap">Twitter</a> / <a href="https://plus.google.com/111539417571342089192/" rel="author">Google+</a> / <a href="http://feeds.julianyap.com/julianyap">RSS</a> --> 
      </p>
    </div>
  </div>
</div>
<!-- Analytics -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://www2.julianyap.com/stats/" : "http://www2.julianyap.com/stats/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://www2.julianyap.com/stats/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>


</body>
</html>
